---
import MainLayout from "../../layouts/Main.astro";
---

<MainLayout title="System">
    <section class="py-16 bg-gray-950">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl md:text-4xl font-bold text-center mb-12 text-white">(insert)</h2>
        </div>
    </section>
</MainLayout>
